body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
}

.container {
    background: gray;
    padding: 100px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 50px auto;
}

.conteiner h2 {
    width: 80%;
    padding: center;
    margin: center;
    border-radius: center;
    margin: 7px auto;   
}

.conteiner laber
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}
